<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entry</title>
    <link href="/styles/main.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
</head>
<body>
     <div class="title-container">
        <div class="rose-left-container">
            <img class="rose" id="left" src="/images/Rose1.png" alt="roses"> 
        </div>
        <form class="new-entry-form" action="/post" method="POST">
            <div class="book-container">
                <div class="book-container-page-grid">  
                    <div class="input-container" id="bookname-div">
                        <h2 class="quintessential-regular">Book Name: </h2>
                        <input type="text" class="small-input">
                    </div>
                    <div class="input-container" id="ISBN-div">
                        <h2 class="quintessential-regular">ISBN: </h2>
                        <input type="text" class="small-input">
                    </div>
                    <div class="input-container" id="rating-div">
                        <h2 class="quintessential-regular">Rating: </h2>
                        <input type="hidden" name="rating" id="ratingInput" value="">
                        <span class="fa fa-star" id="1" value="1"></span>
                        <span class="fa fa-star" id="2" value="2"></span>
                        <span class="fa fa-star" id="3" value="3"></span>
                        <span class="fa fa-star" id="4" value="4"></span>
                        <span class="fa fa-star" id="5" value="5"></span>
                    </div>
                    <script>
                         function addClass(star) {
                            star.classList.add("checked");
                        }
                        function removeClass(star) {
                            star.classList.remove("checked");
                        }

                        let starId = null;
                        let selected = false;

                        for (let i=1; i < 6; i++) {
                            let star = document.getElementById(`${i}`);
                            star.addEventListener("mouseover", function (event){
                                if (selected == true) return;
                                starId = Number(event.target.id);
                                for (let i=1; i <= starId; i++){
                                    let starIdString = `${i}`;
                                    star = document.getElementById(starIdString);
                                    addClass(star);
                                }
                            });
                            star.addEventListener("mouseout", function (event){
                                if (selected == true) return;
                                for (let i=1; i < 6; i++) {
                                    star = document.getElementById(`${i}`);
                                    removeClass(star);
                                }

                            });
                            star.addEventListener("click", function (event) {
                                starId = Number(event.target.id);
                                document.getElementById("ratingInput").value = starId;
                                selected = true;
                                for (let i=1; i <= starId; i++){
                                    let starIdString = `${i}`;
                                    star = document.getElementById(starIdString);
                                    addClass(star);

                                    for (let j=starId+1; j<6; j++) {
                                        let removeStarIdString = `${j}`;
                                        star = document.getElementById(removeStarIdString);
                                        removeClass(star);
                                    }
                                }
                                selected = true;
                                
                            });

                        }      
                    </script>
                    <div class="input-container" id="date-div">
                        <h2 class="quintessential-regular">Date Completed: </h2>
                        <input type="date">
                    </div>
                     <div class="book-display-image-entry" id="book-image-entry">
                        <img id ="book-cover" src="https://covers.openlibrary.org/b/isbn/9780385533225-M.jpg" />
                    </div>
                </div>
                <div class="book-container-page">
                    <h2 class="quintessential-regular" id="notes-header">Important Notes </h2>
                    <textarea class="large-input"></textarea>
                </div>
            </div>
            <div class="buttons-row">
                    <a class="link-button a" href="/">Back</a>
                    <button type="submit" id="submit">Submit</button>
                </div>
        </form>
        <div class="rose-right-container">
            <img class="rose" id="right" src="/images/Rose2.png" alt="roses"> 
        </div>
        </div>
    </div>
</body>
</html>