<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/styles/main.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap" rel="stylesheet">
</head>
<body>
    <div class="title-container">
        <div class="rose-left-container">
            <img class="rose" id="left" src="/images/Rose1.png" alt="roses"> 
        </div>
        <div class="title-middle-container">
            <img class="girl" src="/images/GirlReading.png" alt="girl reading">
            <div class="menu-buttons-container">
                <h1 class="quintessential-regular">My Book Notes</h1>
                <a class="link-button">My Library</a>
                <a class="link-button">Add Book</a>
            </div>
        </div>
        <div class="rose-right-container">
            <img class="rose" id="right" src="/images/Rose2.png" alt="roses"> 
        </div>
        

        </div>

    </div>
    
</body>
</html>