body {
    background-color: #FFFFFF;
    margin: 0px;
}

.quintessential-regular {
  font-family: "Quintessential", serif;
  font-weight: 200;
  font-style: normal;
  color: #756764;
}

.title-container {
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-middle-container {
    width: 40%;
    height:40%;
    align-self: center;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.rose-left-container {
    width: auto;
    height: auto;
    margin-top: -1%;
    margin-left: -1%;
}

.rose-right-container {
    width: auto;
    height: auto;
    text-align: end;
    align-self: flex-end;
}

.menu-buttons-container {
    text-align: center;
}

.rose {
    width: 80%;
    object-fit: contain;
}

h1 {
    font-size: 3rem;
    color: #756764;
}

.link-button{
    font-family: "Quintessential", serif;
    font-weight: 200;
    font-style: normal;
    color: white;
    background-color: #756764;
    padding: 5%;
    border-radius: 25px;
    margin: 2.5%;
    text-decoration: none;
}

.link-button:hover {
    cursor: pointer;
}

.book-container {
    min-height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2px;
    background-image: URL("/images/book.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.book-container-page{
    width: 20vw;
    height: 70vh;
    border:none;
    padding-left: 15px;
}

#notes-page{
    text-align: center;
}

.new-entry-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checked {
  color: orange;
}

.small-input {
    height: 4vh;
    border: 2px solid #f7f3f0;
    width: 80%;
}

.large-input {
    height:80%;
    width: 95%;
    margin-left: 4%;
    border: 2px solid #f7f3f0;
    resize: none;
}

.large-input:focus {
    outline: none;
}

.small-input:focus {
    outline: none;
}

input[type='date'] {
    border: 2px solid #f7f3f0;
    height: 4vh;
}

input[type='date']:hover {
    cursor: pointer;
}

.buttons-row {
    width: 50vw;
    height: 10vh;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content:end;
    align-items: center;
    gap: 1%;
    padding-right: 5%;
}

.link-button.a {
    height: 50%;
    min-width: 80px;
    text-align: center;
    padding: 0;
    font-size: x-large;
    margin-right: 0;
    text-decoration: none;
}

button {
    border: none;
    height: 50%;
    text-align: center;
    font-size: x-large;
    font-family: "Quintessential", serif;
    font-weight: 200;
    font-style: normal;
    background-color: #756764;
    color: white;
    border-radius: 25px;
    padding: 0 2% 2% 2%;
}

#back-library {
    position: absolute;
    height: 4.5%;
    top: 0;
    left: 0;
    padding: 0;
    min-width: 100px;
    text-align: center;
    font-size: x-large;
}

.sort-container {
    height: 90%;
    width: 50vw;
    text-align: center;
    padding-top: 2.5%;
   
}

.book-display-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.book-display {
    width: 100%;
    margin-top: 5%;
    flex-shrink: 0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f7f3f0;
}

label {
    font-family: "Quintessential", serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    color: #524948;
}

select {
    border: none;
    font-family: "Quintessential", serif;
    font-size: large;
    outline: none;
    color: #524948;
}

.book-display-description {
    display:flex;
    flex-direction: column;
    padding: 2%;
    padding-top: 0;
    gap: 2%;
    margin-left: 2.5%;
}

#book-title {
    padding: 0;
    text-align: left;
}
#paragraph {
    padding: 0;
    margin: 0;
    text-align: left;
}
.book-display-image {
    width: 200px;
    height: 200px;
    margin-right: 5%;
    align-self: center;
    text-align: center;
}
.book-display-link {
    display: block;
    text-decoration: none;
}

.fa-star{
    cursor: pointer;
}
